<%= turbo_stream_from "game-#{@game.id}" %>
<div class="container" data-controller="modal bonus" data-bonus-bname-value="<%= @is_used ? "None" : @user_spell&.name %>" data-modal-quickplay-value="<%= @quickplay %>" data-modal-answered-value="<%= @already_answered %>">
  <% if @question.nil? %>
    <h3 class="text-center">Vous avez terminé toutes les questions !</h3>
    <div class="text-center">
      <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary" %>
    </div>
  <% else %>
    <div class="progress">
      <div class="progress-bar pt-4" role="progressbar" style="width: <%= @progress_percentage %>%;" aria-valuenow="<%= @progress_percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div class="flex-column align-items-start">
        <div class="score-container">
            Player Score: <span data-modal-target="playerscore"><%= @user_games.find_by(user: current_user).score %></span>
        </div>
        <% if @game.user_games.count == 2 %>
        <div class="score-container">
            Opponent Score: <span><%= @user_games.where.not(user: current_user)[0].score %></span>
        </div>
        <% end %>
      </div>
     <% if @game.user_games.count == 2 %>
      <div class="d-flex align-items-center mx-3">
        <button class="btn btn-bonus" data-action="click->bonus#applybonus" data-bonus-target="btn" >Bonus</button>
      </div>
      <% end %>
    </div>
    <div class="question-box text-center">
      <div class="image-placeholder">
        <% if @question.media_url.present? %>
          <img src="<%= @question.media_url %>" alt="question image">
        <% end %>
        <h3><%= @question.content %></h3>
      </div>
    </div>
    <div class="answer-box d-flex flex-column align-items-center" data-bonus-target="forms">
      <% index = 0 %>
      <% @answers.shuffle.each_with_index do |answer, a_index| %>
        <% index = 0 if a_index%4 == 0 %>
        <div class="visually-hidden"></div>
        <% index += 1 %>
        <%= form_with(url: game_path(@game), class:"answer_#{answer.is_correct.to_s}",method: :patch, data: { modal_target:"sub#{index}", action: "submit->modal#fire#{index}"}) do |f| %>
          <%= f.hidden_field :question_id, value: @question.id %>
          <%= f.hidden_field :answer_id, value: answer.id %>
          <%= f.hidden_field :bonus_disabled, value: false, data: {bonus_target: "bonusDisabled"} %>
          <%= f.hidden_field :question_index, value: @current_question_index %>
          <%= f.submit answer.content, class: "btn answer-button", data: {modal_target:"submitBtn#{index}"} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary visually-hidden" data-modal-target="modalbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div id="questionmodal" class="modal-body success-modal" data-modal-target="modaldiv">
          Your were faster than your opponent!
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2" data-controller="timer" data-timer-duration-value="30">
    <span data-timer-target="timer" id="clock" > secondes restantes</span>
  </div>

  <%= link_to "Next_question", @current_question_index < @questions.count ? game_question_path(@game, @next_question): result_game_path(@game), class:"visually-hidden", data: {modal_target:"nextbtn"}%>
</div>
<div id="reload-div">
  <div id="currentUser" class="visually-hidden" data-currentuser="<%= current_user.id %>"></div>
</div>
