<div class="container vh-100">
  <div class="title text-center pt-4 "><h1 style="color: rgb(255, 145, 77);">Classement Final !!</h1>
  </div>
    <div class="row">

      <div class="col-6">
        <div class="card align-items-center" style="width: 13rem; background-color: transparent;">
          <div class="card-body">
          <h5 class="card-title" style="color: rgb(255, 145, 77);"><%=@user1.user.username %></h5>
          </div>
          <%= image_tag 'CHAVALIER.jpg', class: "rounded-circle card-avatar background-color: transparent; " %>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(255, 145, 77);">SCORE: <%= @user1.score %></p></h5>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card align-items-center" style="width: 13rem;background-color: transparent;">
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(255, 145, 77);"><%=@user2.user.username %></h5>
          </div>
          <%= image_tag 'MAGE.jpg', class: "rounded-circle card-avatar background-color: transparent;" %>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(255, 145, 77);">SCORE: <%= @user2.score %></p></h5>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <div class="card align-items-center" style="width: 13rem; background-color: transparent;">
         <%= image_tag('winner.png')%>
        </div>
      </div>

      <div class="col-6">
        <div class="card align-items-center" style="width: 13rem; background-color: transparent;">
         <%= image_tag('looser.png')%>
        </div>
      </div>
    </div>


      <div class="d-grid gap-2 col-6 mx-auto mt-5">
      <%= link_to 'NEW GAME', new_game_path, class: "btn-grad" %>
        <%= link_to 'HOME', root_path, class: "btn-grad" %>
      </div>
</div>
