
<div class = "spell-card" id="<%= spell.id %>">
  <p class="visually-hidden" data-spell-target="spellName"><%= spell.name %></p>
  <p class="visually-hidden" data-spell-target="spellDescription"><%= spell.description %></p>
  <%= image_tag spell.image_url %>
    <h2>
      <%= spell.name %>
    </h2>
  <%= render "modalspell", spell: spell %>
</div>
