<div class = "category-card" id="<%= category.id %>">
 <p class="visually-hidden" data-category-target="categoryName"><%= category.name %></p>
    <h2>
      <%= category.name %>
    </h2>

    <%= form_with(url: choose_category_path(category), method: :post, data: { category_target:"form", action:"submit->category#fire", turbo: false}) do |f| %>
      <%= f.submit "Confirm", class: "btn btn-find-opponent" %>
    <% end %>
</div>
