<div class="d-flex justify-content-center">
  <span class= "cat-title">Pick a category to start the game!</span>
  <%# <%= image_tag "pick_a_category", class:"cat-img"%>
</div>
<div class="categories-cards"  style = "color:white;">
    <% @categories.each do |category| %>
      <div class="category-card" id="<%= category.id %>" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("<%= asset_path("#{category.image_url}") %>")'>
        <%= render "category", category: category %>
      </div>
    <% end %>
</div>

<div class="d-grid gap-2 col-6 mx-auto mt-4">
      <%= link_to 'HOME', root_path, class: "btn-grad" %>
</div>
