<!DOCTYPE html>
<html>
  <head>
    <title>LeagueOfQuizz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%# <script>
  document.addEventListener("turbo:before-visit", (event) => {
    const overlay = document.getElementById("transition-overlay");
    if (!overlay) return;

    event.preventDefault(); // Empêche la navigation immédiate

    overlay.classList.remove("hiddenanim");
    overlay.classList.add("closing-vortex");

    console.log("Début de l'animation de fermeture");

    // Déclencher Turbo après l'animation
    setTimeout(() => {
      console.log("Forçage de la navigation vers : ", event.detail.url);
      Turbo.visit(event.detail.url);
    }, 800); // Même durée que l'animation CSS
  });

  document.addEventListener("turbo:load", () => {
    const overlay = document.getElementById("transition-overlay");
    if (!overlay) return;

    overlay.classList.add("opening-vortex");

    console.log("Début de l'animation d'ouverture");

    setTimeout(() => {
      overlay.classList.remove("opening-vortex", "closing-vortex");
      overlay.classList.add("hiddenanim");

      console.log("Fin de l'animation d'ouverture");
    }, 800); // Même durée que l'animation CSS
  });
</script> %>



  <body>
    <div id="star-background">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    </div>
        <%= render "shared/flashes" %>
        <%= yield %>
    <%# </div> %>
    <div id="transition-overlay" class="vortex-overlay hiddenanim"></div>
  </body>
</html>
