<!DOCTYPE html>
<html>
  <head>
    <title>LeagueOfQuizz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="star-background">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
        <%= render "shared/flashes" %>
        <%= yield %>
    </div>
  </body>
</html>
